.checkout-form label {
    font-size: 12px;
    font-weight: 700;
}

.checkout-form input {
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.order-btn {
    width: 100%;
}

.orders label {
    font-size: 12px;
    font-weight: 700;
}

.orders div {
    font-size: 14px;
    padding: 10px;
}

.card-config {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.cardBorderConfig {
    max-width: 20rem;
    margin-top: 40px;
    box-shadow: 10px 10px 20px #888888;
}

.cardHeaderConfig {
    padding: 0;
    text-align: center;
}

.hProducts {
    text-align: center;
}

.prodTitle {
    text-align: center;
}

.alertConfig {
    text-align: center;
}

.carousel-inner>.carousel-item>img {
    width: 1920px;
    height: 750px;
}

p {
    font-size: 30px;
}

.contactbutton {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.contact textarea {
    height: 225px;
}

.contact iframe {
    border: 2px solid grey;
}

.aboutus p {
    font-size: 25px;
}

.aboutus img {
    border: 2px solid grey;
    width: 100%;
}

.card img {
    height: 200px;
    width: 100%;
}

.mt-3 {
    font-size: 20px;
}

.card a {
    width: 100%;
    margin-top: 10px;
}

.card p {
    font-size: 25px;
    text-align: justify;
}

.card span {
    font-size: 20px;
}

.card {
    border: 2px solid green;
}

.card h3 {
    text-align: center;
}

.edituser button {
    display: inline-block;
    width: 170px;
    margin-top: 10px;
}

.edituser a {
    display: inline-block;
    width: 170px;
}

.editPassword button {
    display: inline-block;
    width: 170px;
    margin-top: 10px;
}

.editPassword a {
    display: inline-block;
    width: 170px;
}

.orderDetails a
{
    display: inline;
    width: 200px;
    margin-top: 0px;
}

.orderDetails h4{
    display: inline;
    text-align: justify;
}

.orderDetails img{
    width: 60px;
    height: 60px;
}

.myOrders a{
    margin-top: 0px;
}
